.modal {
    position: absolute;
    top: 10%;
    left: 5%;
    width: 90%;
    height: 90%;
    background-color: #f0f8ff;
    border: 1px solid #000;
    border-radius: 10px;
    overflow: auto;
}
